@import "tailwindcss";

@theme {
  --color-primary: #001f4b;
  --color-secondary-blue: #0064bd;
  --color-secondary: #f5f5f5;
  --color-gold-one: #fdc42d;
  --color-gold-two: #fffa84;
  --color-gold-three: #efae00;
}

.main-title {
  @apply text-4xl lg:mb-2 max-lg:text-2xl w-fit text-primary rounded-lg font-bold;
}

.gold {
  @apply bg-gradient-to-r from-gold-one via-gold-two to-gold-three;
}
